.card {
    width: 50%;
    margin: auto
}

.generate-pw-btn {
    margin-top: 10px;
}

.text-align-center {
    text-align: center;
}

.text-align-center-left {
    display: inline-block;
    text-align: left;
}

#error {
    color: red;
}